name = "georgiobandera"
compatibility_date = "2024-12-09"
pages_build_output_dir = ".next"

[env.production]
name = "georgiobandera-prod"

[env.staging]
name = "georgiobandera-staging"

[[d1_databases]]
binding = "DB"
database_name = "georgiobandera-db"
database_id = "" # Will be set after creating the database

[[r2_buckets]]
binding = "IMAGES"
bucket_name = "georgiobandera-images"

